<div class="container center-block">

    <form>
        <div class="form-group">
            <label for="exampleInputEmail1" >User name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="username">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" >Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="password">
        </div>
        <button type="submit" class="btn btn-default pull-right" id="btnLogin" ng-click="Login($event)">Login</button>

        <div class="alert alert-warning alert-dismissible" role="alert" ng-if="visibility">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
            <p id="warningMsg">{{warning}}</p>
        </div>
    </form>


</div>